@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');


:root {
    --primary-color: #ff4d8d;
    --accent-color: #ffae00;
    --text-color: #333;
    --background-color: #fff;
    --transition-speed: 0.5s;
}


body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
    overflow-x: hidden;
}

body.no-scroll {
    overflow: hidden;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
} 

html {
    scroll-behavior: smooth;
}

#logo-img{
    width: 50px;
    margin-top: 100px;

}

h2 {
    font-size: 24px;
    font-weight: bold;
}

.componentes {
    display: flex; 
    height: 100vh; 
    width: 100%;
    
}


.imagen-background {
    width: 70%; 
    height: 100%;
    display: flex;
    object-fit: cover;

}


.login-contenedor {
    width: 30%; 
    height: 100vh; 
    background-color: white;
    display: flex;
    flex-direction: column; 
    justify-content: left; 
    align-items: left; 
    font-size: 12px;
    margin-left: 50px;
    
}

.formulario{
    width: 100%;
    text-align: left;
    margin-top: 20px;
    

}

.formulario-input {
    width: 300px;
    height: 40px;
    background-color: rgb(230, 224, 224);
    color: #454343;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    padding-right: 40px;
    
    
}


.contenedor-contraseña {
    position: relative;
    width: 100%;
}


.recuerdame-contraseña {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;

}


#recuerdame{
    margin-right: 20px;
    font-size: 12px;
}

#olvidaste-contraseña {
    text-decoration: none;
    color: #ff4d8d;
    font-size: 12px;
}

.icon-eye {
    position: absolute;
    right: 10px;
    top: 50%;
    width: 20px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.eye-icon:hover {
    opacity: 1;
}


.botones{
    padding: 30px;
    padding-bottom: 20px;
    width: 300px;
    
}

#iniciar-sesion{
    width: 300px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ff4d8d;
    border-radius: 8px;
    border-color: white;
    color: white;
    font-weight: bold;
}

#sesion-google{
    width: 300px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
    border-radius: 8px;
    border-color: white;
    color: white;
    font-weight: bold;
}

.preguntas{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}

#no-cuenta {
    text-decoration: none;
    color: black; 
    margin-right: 20px;
    
}

#contacta-admin {
    text-decoration: none;
    color: #ff4d8d; 

}