@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');


:root {
    --primary-color: #ff4d8d;
    --accent-color: #ffae00;
    --text-color: #333;
    --background-color: #fff;
    --transition-speed: 0.5s;
}


body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
    overflow-x: hidden;
}

body.no-scroll {
    overflow: hidden;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
} 

html {
    scroll-behavior: smooth;
}


.componentes {
    display: flex; 
    height: 100vh; 
    width: 100%;
    
}


.imagen-background {
    width: 70%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; 
}

.imagen-background img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.login-contenedor {
    width: 30%; 
    height: 100vh; 
    background-color: white;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    
}

.formulario{
    justify-content: center; 
    align-items: center;
    text-align: center;
  

}

.recuerdame.contraseña{
    
}

.botones{
    
}

.preguntas{
    display: block;
    text-align: center;
}